<div class="container" id="about">
  <div class="row">
    <div class="col-md-8">
      <section>
        {{ .Content }}
      </section>
    </div>

    <div class="col-md-4"></div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="span2">
          <img
            width="100"
            src="\img\edmedia_logo.png"
            alt="World Conference on Educational Media and Technology"
          />
        </div>

        <div class="span2">
          <p>
            In June 2016, the paper describing our development
            model&nbsp;received <b>Outstanding Research Paper Award</b> from the
            <i>World Conference on Educational Media and Technology </i
            >(Edmedia).
          </p>
        </div>

        <div class="span2">
          <img
            width="100"
            src="\img\AERA-logo.png"
            alt="American Educational Research Association"
          />
        </div>

        <div class="span2">
          <p>
            In April 2016, the research study conducted using
            <i>Alien Rescue&nbsp;</i>received <b>Best Paper Award </b>from
            Applied Research in Immersive Environments for Learning (ARIEL) SIG
            of <i>American Educational Research Association</i> (AERA).
          </p>
        </div>
      </div>
      <div class="row">
        <div class="span2">
          <img
            width="100"
            src="\img\aect-logo.png"
            alt="Association for Educational Communications and Technology"
          />
        </div>

        <div class="span2">
          <p>
            <span style="color: rgb(34, 34, 34);"
              >In November of 2013,&nbsp;<i>Alien Rescue</i>&nbsp;won<b
                >&nbsp;the Outstanding Practice Award</b
              >&nbsp;sponsored by the Design &amp; Development division of
              AECT</span
            ><span style="color: rgb(34, 34, 34);"
              >.<span
                rel="pastemarkerend"
                id="pastemarkerend45097"
              ></span></span
            ><br />
          </p>
        </div>

        <div class="span2">
          <img
            width="100"
            src="\img\aect-logo.png"
            alt="Association for Educational Communications and Technology"
          />
        </div>

        <div class="span2">
          <p>
            <span style="color: rgb(34, 34, 34);"
              >In November of 2012,&nbsp;<i>Alien Rescue</i>&nbsp;won<b>
                the Interactive Learning Award</b
              >
              sponsored by the multimedia division of AECT</span
            ><span style="color: rgb(34, 34, 34);">.</span><br />
          </p>
        </div>
      </div>

      <div class="row">
        <div class="span2">
          <img
            width="100"
            src="\img\lsdc.gif"
            alt="Learning Software Design Competition"
          />
        </div>
        <div class="span2">
          <p>
            In 2001, Alien Rescue received the First Prize in the nationwide
            Learning Software Design Competition sponsored by the University of
            Minnesota.
          </p>
        </div>
        <div class="span2">
          <img
            width="100"
            src="\img\elearn.gif"
            alt="Best Educational Application"
          />
        </div>
        <div class="span2">
          <p>
            Alien Rescue also received honorable mention for ingenuity in the
            Best Educational Application category of Macromedia eLearning
            Innovation Award Program in 2001.
          </p>
        </div>
      </div>

      <a href="#about">Back to Top</a>
      <br />
    </div>
    <!-- /.row -->
  </div>
</div>
