{{ if isset .Site.Params "features" }}
{{ if .Site.Params.features.enable }}
{{ if gt (len .Site.Data.features) 0 }}

<section class="bar background-white">
    <div class="container">
      <div class="row">
        <div class="col-md-8">


        {{ range $index, $element := sort .Site.Data.features "weight" }}
        <div class="">

          <div class="box-simple">
                        <h3 > <span class="{{ .icon }}"> </span>{{ $element.name }}</h3>
                        <p>{{ $element.description | markdownify }}</p>
          </div>

		</div>

        {{ end }}
     </div>
     <div class='side-bar col-md-4'>
        <h5>Winner of 2012 Interactive Learning Award and 2013 outstanding Practice Award, sponsored by AECT.</h5>
       <img src='http://alienrescue.edb.utexas.edu/pic/AECTOPA2013_500.jpg' width=150px>

       <img src='http://alienrescue.edb.utexas.edu/pic/award-s.jpg' width=150px>
     </div>

     

     <div class='side-bar col-md-4'>
        <h5>Feedback from Teachers</h5>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
         
          <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
          
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <p><i>My students were obviously actively involed in learning. They were asking questions and trying to answer the questions.</i></p>
                <br>
                <p>-Mr. Charles (Skyview School, Arizona, U.S.)</p>
              </div>
          
              <div class="item">
                <p><i>I thought it was a great program! I was looking for a science fiction problem solving scenario and this program more than fit the bill. Students learned so much and they really seemed to enjoy the challenge.</i></p>
                <br>
                <p>-Ms. Gillmore (Overland Trail Middle School)</p>
              </div>
          
              <div class="item">
                  <p><i>I have never seen middle school students so engaged in reading and using data as when they were ‘playing’ Alien Rescue. When we were finished they asked if they could do it again because it was so much fun!</i></p>
                  <br>
                  <p>-Mrs, Cross (Loftis Middle School, Tennessee, U.S.)</p>
              </div>
            </div>
          
            
          </div>

     <br>
     <br>


   </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
