<footer id="footer">
    <div class="container">

        {{ if isset .Site.Params "about_us" }}
        <div class="col-md-4 col-sm-6">

              <img style="margin-right:20px;" src='https://alienrescue.edb.utexas.edu/template/img/ut.png' >
              <img src='https://alienrescue.edb.utexas.edu/template/img/coe.png' >
        </div>
        <div class="col-md-4 col-sm-6">


        </div>
        <!-- /.col-md-4 -->
        {{ end }}

        <div class="col-md-4 col-sm-6">

          <p> A project of the <a href='https://education.utexas.edu' target="_blank">Learning Technologies</a> program </p>
          <p><a href='mailto:mliu@austin.utexas.edu'> Questions or Comments?</a> </p>
          <p>©2018 The University of Texas at Austin </p>

        </div>

    </div>
    <!-- /.container -->
</footer>

<!-- /#footer -->

<!-- *** FOOTER END *** -->

<!-- *** COPYRIGHT ***
_________________________________________________________ -->


<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->
