<footer id="footer">
  <div class="container">
    {{ if isset .Site.Params "about_us" }}
    <div class="col-md-4 col-sm-6">
      <img style="margin-right:20px;width:350px;" 
      src="/img/coe_logo_ko.png" 
      alt="The University of Texas at Austin College of Eduation logo"
      />
    </div>
    <div class="col-md-4 col-sm-6"></div>
    <!-- /.col-md-4 -->
    {{ end }}

    <div class="col-md-4 col-sm-6">
      <p>
        A project of the
        <a
          href="https://education.utexas.edu/departments/curriculum-instruction/graduate-programs/learning-technologies"
          target="_blank"
          >Learning Technologies</a
        >
        program
      </p>
      <p><a href="mailto:mliu@austin.utexas.edu"> Questions or Comments?</a></p>
      <p>©2020 The University of Texas at Austin</p>
    </div>
  </div>
  <!-- /.container -->
</footer>

<!-- /#footer -->

<!-- *** FOOTER END *** -->

<!-- *** COPYRIGHT ***
_________________________________________________________ -->

<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->
