<div id="map"></div>

<div id="mapp"></div>

<script>

  var citymap = {
    texas: {
      center: {lat: 32, lng: -100},
      population: 14856
    },
    newyork: {
      center: {lat: 40.714, lng: -74.005},
      population: 5837
    },
    losangeles: {
      center: {lat: 34.052, lng: -118.243},
      population: 799
    },
    vancouver: {
      center: {lat: 49.25, lng: -123.1},
      population: 3502
    }
  };




</script>

<script>

  var map, heatmap;

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: {lat: 37.551458, lng: -97.664113},
      mapTypeId: 'roadmap'
    });

    heatmap = new google.maps.visualization.HeatmapLayer({
      data: getPoints(),
      map: map,
      radius: 20
    });


    mapp = new google.maps.Map(document.getElementById('mapp'), {
      zoom: 4,
      center: {lat: 37.090, lng: -95.712},
      mapTypeId: 'terrain'
    });


    for (var city in citymap) {
      var cityCircle = new google.maps.Circle({
        strokeColor: '#FF0000',
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: '#FF0000',
        fillOpacity: 0.35,
        map: mapp,
        center: citymap[city].center,
        radius: Math.sqrt(citymap[city].population) * 1000
      });
    }
  }


  function getPoints() {
    return [
      new google.maps.LatLng(30.551458, -97.664113),
      new google.maps.LatLng(30.528098, -97.696770),
      new google.maps.LatLng(30.511395, -97.715413),
      new google.maps.LatLng(30.492339, -97.734008),
      new google.maps.LatLng(30.535347, -97.736192),
      new google.maps.LatLng(30.568060, -97.790267),
      new google.maps.LatLng(30.583196, -97.854950),
      new google.maps.LatLng(30.530969, -97.860292),
      new google.maps.LatLng(30.480832, -97.836227),
      new google.maps.LatLng(30.398634, -97.825020),
      new google.maps.LatLng(31.093483, -97.751951),
      new google.maps.LatLng(29.796128, -98.736413)
    ];
  }

</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUvgmugmOV5A2aJMMP-yEZV30nz_oVJIM&libraries=visualization&callback=initMap">
</script>
