<div class="container" id="teacher">

    <div class="row">
        <div class="col-md-8">

            <section>


                {{ .Content }}



            </section>

        </div>

        <div class="col-md-4" style="margin-top:-20px;">



            <h3 >Video</h3>

            <a href="/videos">
                <p class="page-btn">Using Alien Rescue in the Classroom</p>
            </a>

            <h3>Information for teachers</h3>

            <p>
                <a href="/faq">FAQ's</a>
            </p>
            <p>
                <a href="/tech">Technical Requirements</a>
            </p>





        </div>

    </div>
    <!-- /.row -->
</div>


<div class="container">

    <div class="row">

<div class="col-lg-1"></div>
<div class="col-lg-10">
     <img src="/img/info.png" id="info"
     alt="ID information"
     />
    </img>
     <img src="/img/info2.png" id="infotwo"
     alt="ID information2
     /">
    </img>

</div>
<div class="col-lg-2"></div>
    </div>
</div>

<br/><br/><br/><br/>
