<div class="container" id="teacher">

    <div class="row">
        <div class="col-md-8">

            <section>

                {{ .Content }}


            </section>

        </div>

        <div class="col-md-4">

        <h3>Video</h3>

        <p class="page-btn">Using Alien Rescue in the Classroom</p>

        <h3>Information for teachers</h3>

        <p><a>FAQ's</a></p>
        <p><a>Technical Requirements</a></p>
      




        </div>

    </div>
    <!-- /.row -->
</div>

{{ partial "googlemap.html" . }}
