<!-- One -->
<section class="wrapper style1">
    <div class="inner">
        <header class="align-center">
            <h2>Alien Rescue in the Classroom</h2>
        </header>
        <!-- 2 Column Video Section -->
        <div class="flex flex-2">
            <div class="video col">
                <div class="image fit video-16-9">
                    <iframe src="https://player.vimeo.com/video/261561805" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
            <div class="video col">
                <div class="image fit video-16-9">
                    <iframe src="https://player.vimeo.com/video/261536961" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Two -->
<section class="wrapper style2">
    <div class="inner">
        <header>
            <h2>From the Teachers </h2>
        </header>
        <!-- Tabbed Video Section -->
        <div class="flex flex-tabs">
            <ul class="tab-list">
                <li><a href="#" data-tab="tab-1" class="active">Impact of Alien Rescue in the Classroom</a></li>
                <li><a href="#" data-tab="tab-2">Students' Responses to Alien Rescue </a></li>
                <li><a href="#" data-tab="tab-3">Successful Examples</a></li>
            </ul>
            <div class="tabs">

                <!-- Tab 1 -->

                <div class="tab tab-1 flex flex-3 active">

                    <!-- Video Thumbnail -->

                    <div class="video col">
                        <div class="image fit video-16-9">

                            <iframe src="https://player.vimeo.com/video/261561805" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>

                    </div>

                    <!-- Video Thumbnail -->

                    <div class="video col">
                        <div class="image fit video-16-9">

                            <iframe src="https://player.vimeo.com/video/111472721" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>

                    </div>

                    <!-- Video Thumbnail -->

                    <div class="video col">
                        <div class="image fit video-16-9">

                            <iframe src="https://player.vimeo.com/video/71173088" frameborder="0" webkitallowfullscreen center mozallowfullscreen allowfullscreen></iframe>
                        </div>

                    </div>

                    <!-- Video Thumbnail -->

                    <div class="video col">
                        <div class="image fit video-16-9">

                            <iframe src="https://player.vimeo.com/video/111472727" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>

                    </div>

                    <!-- Video Thumbnail -->

                    <div class="video col">
                        <div class="image fit video-16-9">

                            <iframe src="https://player.vimeo.com/video/65682620" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>

                    </div>

                    <!-- Video Thumbnail -->

                    <div class="video col">
                        <div class="image fit video-16-9">

                            <iframe src="https://player.vimeo.com/video/71182253" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>

                    </div>

                </div>

                <!-- Tab 2 -->
                <div class="tab tab-2 flex flex-3">
                    <!-- Video Thumbnail -->
                    <div class="video col">
                        <div class="image fit video-16-9">
                            <iframe src="https://player.vimeo.com/video/111474211" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                    <!-- Video Thumbnail -->
                    <div class="video col">
                        <div class="image fit video-16-9">
                            <iframe src="https://player.vimeo.com/video/111474211" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                    <!-- Video Thumbnail -->
                    <div class="video col">
                        <div class="image fit video-16-9">
                            <iframe src="https://player.vimeo.com/video/111474211" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                    <!-- Video Thumbnail -->
                    <div class="video col">
                        <div class="image fit video-16-9">
                            <iframe src="https://player.vimeo.com/video/111474211" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                    <!-- Video Thumbnail -->
                    <div class="video col">
                        <div class="image fit video-16-9">
                            <iframe src="https://player.vimeo.com/video/111474211" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

                <!-- Tab 3 -->
                <div class="tab tab-3 flex flex-3">
                    <!-- Video Thumbnail -->
                    <div class="video col">
                        <div class="image fit video-16-9">
                            <iframe src="https://player.vimeo.com/video/111474211" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                    <!-- Video Thumbnail -->
                    <div class="video col">
                        <div class="image fit video-16-9">
                            <iframe src="https://player.vimeo.com/video/111474211" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                    <!-- Video Thumbnail -->
                    <div class="video col">
                        <div class="image fit video-16-9">
                            <iframe src="https://player.vimeo.com/video/111474211" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                    <!-- Video Thumbnail -->
                    <div class="video col">
                        <div class="image fit video-16-9">
                            <iframe src="https://player.vimeo.com/video/111474211" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                    <!-- Video Thumbnail -->
                    <div class="video col">
                        <div class="image fit video-16-9">
                            <iframe src="https://player.vimeo.com/video/111474211" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                    <!-- Video Thumbnail -->
                    <div class="video col">
                        <div class="image fit video-16-9">
                            <iframe src="https://player.vimeo.com/video/111474211" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<script src="/js/jquery.min.js"></script>
<script src="/js/skel.min.js"></script>
<script src="/js/util.js"></script>