<!-- One -->
<section class="wrapper style1">
  <div class="inner">
    <header class="align-center"><h2>Alien Rescue in the Classroom</h2></header>
    <!-- 3 Column Video Section -->
    <div class="flex flex-3">
      <div class="video col">
        <div class="image fit video-16-9">
          <iframe
            src="https://player.vimeo.com/video/463673648"
            frameborder="0"
            aria-label="teacher video"
            
            webkitallowfullscreen
            mozallowfullscreen
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <div class="video col">
        <div class="image fit video-16-9">
          <iframe
            src="https://player.vimeo.com/video/261536961"
            frameborder="0"
               aria-label="teacher video" 
            
            webkitallowfullscreen
            mozallowfullscreen
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <div class="video col">
        <div class="image fit video-16-9">
          <iframe
            src="https://player.vimeo.com/video/261561805"
            frameborder="0"
            aria-label="teacher video"
            
            webkitallowfullscreen
            mozallowfullscreen
            allowfullscreen
          ></iframe>
        </div>
      </div>
      
    </div>
  </div>
</section>

<!-- Two -->
<section class="wrapper style2">
  <div class="inner">
    <header><h2>From Teachers</h2></header>
    <!-- Tabbed Video Section -->
    <div class="flex flex-tabs">
      <ul class="tab-list">
        <li>
          <a href="#" data-tab="tab-1" class="active"
            >Alien Rescue vs Traditional Learning</a
          >
        </li>
        <li>
          <a href="#" data-tab="tab-2"
            >Teachers' Feedback on Student Learning in Alien Rescue
          </a>
        </li>

        <li><a href="#" data-tab="tab-4">Student Response</a></li>

        <li><a href="#" data-tab="tab-3">Students with Special Needs</a></li>
      </ul>
      <div class="tabs">
        <!-- Tab 1 -->

        <div class="tab tab-1 flex flex-3 active">
          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/111472723"
                frameborder="0"
                    aria-label="teacher video"
                
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
            <p class="video-title">Students could learn at their own pace.</p>
          </div>

          <!-- Video Thumbnail -->

          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/71182256"
                frameborder="0"
                    aria-label="teacher video"
                
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
            <p class="video-title">
              Students formed flexible groups to collaborate and asked
              questions.
            </p>
          </div>

          <!-- Video Thumbnail -->

          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/71182253"
                frameborder="0"
                    aria-label="teacher video"
                
                webkitallowfullscreen
                center
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
            <p class="video-title">
              The interactive envrionment kept students engaging in learning.
            </p>
          </div>

          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/65682620"
                frameborder="0"
                    aria-label="teacher video"
                
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
            <p class="video-title">
              Fun for teachers too! It's a different way of learning and
              teaching.
            </p>
          </div>

          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/71173090"
                frameborder="0"
                    aria-label="teacher video"
                
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
            <p class="video-title">
              Students were really engaged and they learned more.
            </p>
          </div>

          <div class="video col"><div class="image fit video-16-9"></div></div>
        </div>

        <!-- Tab 2 -->

        <div class="tab tab-2 flex flex-3">
          <!-- Video Thumbnail -->
          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/111472727"
                frameborder="0"
                    aria-label="teacher video"
                
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
            <p class="video-title">
              Students took ownership of learning and developed problem-solving
              skills.
            </p>
          </div>
          <!-- Video Thumbnail -->
          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/71182257"
                frameborder="0"
                    aria-label="teacher video"
                
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
            <p class="video-title">
              Students with different confidence levels worked together in Alien
              Rescue.
            </p>
          </div>

          <!-- Video Thumbnail -->
          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/71173387"
                frameborder="0"
                    aria-label="teacher video"
                
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
            <p class="video-title">Students engage deeply with the content.</p>
          </div>
          <!-- Video Thumbnail -->
          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/71173089"
                frameborder="0"
                    aria-label="teacher video"
                
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
            <p class="video-title">
              Students learned research skills that relatable in the real world.
            </p>
          </div>

          <!-- Video Thumbnail -->
          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/65682849"
                frameborder="0"
                    aria-label="teacher video"
                
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
            <p class="video-title">
              Students learned to collaborate, explore and find information on
              their own.
            </p>
          </div>
          <!-- Video Thumbnail -->
          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/65682621"
                frameborder="0"
                    aria-label="teacher video"
                
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
            <p class="video-title">
              Students experienced the "aha" moment in their inquiry.
            </p>
          </div>

          <!-- Video Thumbnail -->
          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/65682542"
                frameborder="0"
                    aria-label="teacher video"
                
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
            <p class="video-title">
              Students responded to and learned from each other.
            </p>
          </div>

          <!-- Video Thumbnail -->
          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/71173092"
                frameborder="0"
                    aria-label="teacher video"
                
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
            <p class="video-title">Students learned to work together.</p>
          </div>

          <!-- Video Thumbnail -->
          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/65252887"
                frameborder="0"
                    aria-label="teacher video"
                
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
            <p class="video-title">
              Students learned science in a meaningful way.
            </p>
          </div>

          <!-- Video Thumbnail -->
          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/111474211"
                frameborder="0"
                    aria-label="teacher video"
                
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
            <p class="video-title">
              Alien Rescue motivated student to learn outside the classroom.
            </p>
          </div>

          <!-- Video Thumbnail -->

          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/111472723"
                frameborder="0"
                    aria-label="teacher video"
                
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
            <p class="video-title">
              Students engaged in evidence-based argument when learning in Alien
              Rescue.
            </p>
          </div>
          <div class="video col"><div class="image fit video-16-9"></div></div>
        </div>

        <div class="tab tab-3 flex flex-3">
          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/111474216"
                frameborder="0"
                    aria-label="teacher video"
                
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
            <p class="video-title">
              Alien Rescue engaged students who typically were not excited about
              science.
            </p>
          </div>

          <!-- Video Thumbnail -->

          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/65682851"
                frameborder="0"
                    aria-label="teacher video"
                
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
            <p class="video-title">
              Alien Rescue provides another opportunity for students who usually
              struggled.
            </p>
          </div>

          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/65682848"
                frameborder="0"
                    aria-label="teacher video"
                
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
            <p class="video-title">
              The media-rich environment keeps learning fun for students with
              lower reading level.
            </p>
          </div>
        </div>

        <!-- Tab 4 -->
        <div class="tab tab-4 flex flex-3">
          <!-- Video Thumbnail -->

          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/111474218"
                frameborder="0"
                    aria-label="teacher video"
                
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
            <p class="video-title">
              Students were intrinsically motivated and engaged.
            </p>
          </div>

          <!-- Video Thumbnail -->

          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/71173088"
                frameborder="0"
                    aria-label="teacher video"
                
                webkitallowfullscreen
                center
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
            <p class="video-title">
              Kids were engaged in learning because they could have hands-on
              experience.
            </p>
          </div>

          <!-- Video Thumbnail -->

          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/65682625"
                frameborder="0"
                    aria-label="teacher video"
                
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
            <p class="video-title">
              Students enjoyed the challenge of learning!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/js/jquery.min.js"></script>
<script src="/js/skel.min.js"></script>
<script src="/js/util.js"></script>
