<!-- One -->
<section class="wrapper style1">
  <div class="inner">
    <header class="align-center"><h2>Alien Rescue in the Classroom</h2></header>
    <!-- 2 Column Video Section -->
    <div class="flex flex-2">
      <div class="video col">
        <div class="image fit video-16-9">
          <iframe
            src="https://player.vimeo.com/video/261561805"
            frameborder="0"
            webkitallowfullscreen
            mozallowfullscreen
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <div class="video col">
        <div class="image fit video-16-9">
          <iframe
            src="https://player.vimeo.com/video/261536961"
            frameborder="0"
            webkitallowfullscreen
            mozallowfullscreen
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Two -->
<section class="wrapper style2">
  <div class="inner">
    <header><h2>From the Teachers</h2></header>
    <!-- Tabbed Video Section -->
    <div class="flex flex-tabs">
      <ul class="tab-list">
        <li>
          <a href="#" data-tab="tab-1" class="active"
            >Alien Rescue vs Traditional Learning</a
          >
        </li>
        <li><a href="#" data-tab="tab-2">Teachers' Feedback </a></li>
        <li><a href="#" data-tab="tab-3">Tips and Tricks</a></li>
        <li><a href="#" data-tab="tab-4">Student Response</a></li>
      </ul>
      <div class="tabs">
        <!-- Tab 1 -->

        <div class="tab tab-1 flex flex-3 active">
          <!-- Video Thumbnail -->

          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/111472723"
                frameborder="0"
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
          </div>

          <!-- Video Thumbnail -->

          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/71182256"
                frameborder="0"
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
          </div>

          <!-- Video Thumbnail -->

          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/71182253"
                frameborder="0"
                webkitallowfullscreen
                center
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
          </div>

          <!-- Video Thumbnail -->

          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/65682851"
                frameborder="0"
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>


        <!-- Tab 2 -->

        <div class="tab tab-2 flex flex-3">
          <!-- Video Thumbnail -->
          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/111472727"
                frameborder="0"
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
          </div>
          <!-- Video Thumbnail -->
          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/71182257"
                frameborder="0"
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
          </div>
          <!-- Video Thumbnail -->
          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/71182254"
                frameborder="0"
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
          </div>
          <!-- Video Thumbnail -->
          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/71173387"
                frameborder="0"
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
          </div>
          <!-- Video Thumbnail -->
          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/71173089"
                frameborder="0"
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
          </div>

          <!-- Video Thumbnail -->
          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/65682849"
                frameborder="0"
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
          </div>
          <!-- Video Thumbnail -->
          <div class="video col">
                <div class="image fit video-16-9">
                  <iframe
                    src="https://player.vimeo.com/video/65682621"
                    frameborder="0"
                    webkitallowfullscreen
                    mozallowfullscreen
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
                        <!-- Video Thumbnail -->
          <div class="video col">
                <div class="image fit video-16-9">
                  <iframe
                    src="https://player.vimeo.com/video/65682620"
                    frameborder="0"
                    webkitallowfullscreen
                    mozallowfullscreen
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
                        <!-- Video Thumbnail -->
          <div class="video col">
                <div class="image fit video-16-9">
                  <iframe
                    src="https://player.vimeo.com/video/65682542"
                    frameborder="0"
                    webkitallowfullscreen
                    mozallowfullscreen
                    allowfullscreen
                  ></iframe>
                </div>
              </div>
                                    <!-- Video Thumbnail -->
          <div class="video col">
                <div class="image fit video-16-9">
                  <iframe
                    src="https://player.vimeo.com/video/65252887"
                    frameborder="0"
                    webkitallowfullscreen
                    mozallowfullscreen
                    allowfullscreen
                  ></iframe>
                </div>
              </div>

        </div>

        <!-- Tab 3 -->
        <div class="tab tab-3 flex flex-3">
          <!-- Video Thumbnail -->
          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/266920242"
                frameborder="0"
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
          </div>
          <!-- Video Thumbnail -->
          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/247055343"
                frameborder="0"
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
          </div>
          <!-- Video Thumbnail -->
          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/247055932"
                frameborder="0"
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
          </div>
          <!-- Video Thumbnail -->
          <div class="video col">
            <div class="image fit video-16-9">
              <iframe
                src="https://player.vimeo.com/video/111474219"
                frameborder="0"
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
              ></iframe>
            </div>
          </div>
          <!-- Video Thumbnail -->
          <div class="video col">
            <div class="image fit video-16-9"><!----></div>
          </div> -->


        <!-- Tab 1 -->

        <div class="tab tab-1 flex flex-3 active">
                <!-- Video Thumbnail -->
      
                <div class="video col">
                  <div class="image fit video-16-9">
                    <iframe
                      src="https://player.vimeo.com/video/111472723"
                      frameborder="0"
                      webkitallowfullscreen
                      mozallowfullscreen
                      allowfullscreen
                    ></iframe>
                  </div>
                </div>
      
                <!-- Video Thumbnail -->
      
                <div class="video col">
                  <div class="image fit video-16-9">
                    <iframe
                      src="https://player.vimeo.com/video/71182256"
                      frameborder="0"
                      webkitallowfullscreen
                      mozallowfullscreen
                      allowfullscreen
                    ></iframe>
                  </div>
                </div>
      
                <!-- Video Thumbnail -->
      
                <div class="video col">
                  <div class="image fit video-16-9">
                    <iframe
                      src="https://player.vimeo.com/video/71182253"
                      frameborder="0"
                      webkitallowfullscreen
                      center
                      mozallowfullscreen
                      allowfullscreen
                    ></iframe>
                  </div>
                </div>
      
                <!-- Video Thumbnail -->
      
                <div class="video col">
                  <div class="image fit video-16-9">
                    <iframe
                      src="https://player.vimeo.com/video/65682851"
                      frameborder="0"
                      webkitallowfullscreen
                      mozallowfullscreen
                      allowfullscreen
                    ></iframe>
                  </div>
                </div>
              </div>


      </div>
    </div>
  </div>
</section>

<script src="/js/jquery.min.js"></script>
<script src="/js/skel.min.js"></script>
<script src="/js/util.js"></script>
