/* your styles go here */

.box-image-text .image {
	min-height: 200px;
	max-height: 200px;
}

.box-simple {
	height: fit-content;
}

.active-link {
	color: #777;
	background-color: #38a7bb;
}

.span2{
	width:150px;
	padding-left:10px;
}

[class*="span"]{
	float:left;
}