/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  height: fit-content;
}

.active-link {
  color: #777;

  border-top: solid 5px #006dcc !important;
}

.span2 {
  width: 150px;
  padding-left: 10px;
}

[class*="span"] {
  float: left;
}

img.special-img-class {
  margin-right: 20px;
  width: 180px;
}

.video-title {
  text-align: center;
  color: black;
  margin-top: 10px;
}

/* #videos {
  width: 1120px;
  margin: 0 auto 50px auto;
}

@media screen and (max-width: 960px) {
  #videos {
    width: 520px;
  }
}

#videos ul {
  list-style-type: none;
}

#videos li {
  float: left;
  position: relative;
  width: 500px;
  height: 299px;
  overflow: hidden;
  padding: 20px;
}

#videosli: hover {
  cursor: pointer;
}

#videos iframe {
  width: 460px;
  height: 259px;

  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
} */

/* Flex */

.flex {
  display: -ms-flexbox;
  -ms-flex-pack: justify;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}

.flex.flex-2,
.flex.flex-3 {
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
}

.flex.flex-2 .col {
  width: 48%;
}

.flex.flex-3 .col {
  width: 31%;
}

.flex.flex-4 .col {
  width: 22%;
}

.flex.flex-tabs {
  -moz-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flex.flex-tabs ul {
  width: 20%;
}

.flex.flex-tabs .tabs {
  width: 77%;
}

@media screen and (max-width: 980px) {
  .flex.flex-4 .col {
    width: 48%;
  }

  .flex.flex-tabs ul {
    width: 30%;
  }

  .flex.flex-tabs .tabs {
    width: 67%;
  }

  .flex.flex-tabs .flex-3 .col {
    width: 48%;
  }
}

@media screen and (max-width: 736px) {
  .flex.flex-2 .col,
  .flex.flex-3 .col,
  .flex.flex-4 .col {
    width: 100%;
  }

  .flex.flex-tabs {
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .flex.flex-tabs ul {
    width: 100%;
  }

  .flex.flex-tabs .tabs {
    width: 100%;
  }

  .flex.flex-tabs .flex-3 .col {
    width: 100%;
  }
}

/* Tab */

ul.tab-list {
  list-style: none;
  margin: 0 0 1em 0;
  padding: 0;
}

ul.tab-list li a {
  background: rgba(255, 255, 255, 0.075);
  border-radius: 4px;
  /*color: rgba(255, 255, 255, 0.5) !important;*/
  color: #000000 !important;
  margin-bottom: 0.5em;
  padding: 0.5em 1em;
  display: inline-block;
  width: 100%;
}

ul.tab-list li a.active {
  background: #bf5700;
  color: #fff !important;
}

ul.tab-list li a:hover {
  background: #ea6d18;
  color: #fff !important;
}

.tab {
  display: none;
}

.tab.active {
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

/* Wrapper */

.wrapper {
  /*padding: 6em 0 4em 0;*/
  position: relative;
}

.wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  /*background-image: url(../../images/bg.jpg);*/
  background-size: cover;
  background-repeat: no-repeat;
  /*opacity: 0.35;*/
  z-index: 1;
}

.wrapper .inner {
  margin: 0 auto;
  width: 80em;
  position: relative;
  z-index: 99;
}

.wrapper header {
  margin-bottom: 4em;
}

@media screen and (max-width: 736px) {
  .wrapper header {
    margin-bottom: 2em;
  }
}

.wrapper.style1 {
  /*background-color: #062038;*/
  color: #c1c7cd;
}

.wrapper.style1 input,
.wrapper.style1 select,
.wrapper.style1 textarea {
  color: #ffffff;
}

.wrapper.style1 a {
  color: #ffffff;
}

.wrapper.style1 a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.wrapper.style1 strong,
.wrapper.style1 b {
  color: #ffffff;
}

.wrapper.style1 h1,
.wrapper.style1 h2,
.wrapper.style1 h3,
.wrapper.style1 h4,
.wrapper.style1 h5,
.wrapper.style1 h6 {
  color: #333333;
}

.wrapper.style1 blockquote {
  border-left-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style1 code {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style1 hr {
  border-bottom-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style1 .box {
  border-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style1 input[type="submit"],
.wrapper.style1 input[type="reset"],
.wrapper.style1 input[type="button"],
.wrapper.style1 button,
.wrapper.style1 .button {
  background-color: #041625;
  color: #ffffff !important;
}

.wrapper.style1 input[type="submit"]:hover,
.wrapper.style1 input[type="reset"]:hover,
.wrapper.style1 input[type="button"]:hover,
.wrapper.style1 button:hover,
.wrapper.style1 .button:hover {
  background-color: #06243c;
}

.wrapper.style1 input[type="submit"]:active,
.wrapper.style1 input[type="reset"]:active,
.wrapper.style1 input[type="button"]:active,
.wrapper.style1 button:active,
.wrapper.style1 .button:active {
  background-color: #02080e;
}

.wrapper.style1 input[type="submit"].alt,
.wrapper.style1 input[type="reset"].alt,
.wrapper.style1 input[type="button"].alt,
.wrapper.style1 button.alt,
.wrapper.style1 .button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.15);
  color: #ffffff !important;
}

.wrapper.style1 input[type="submit"].alt:hover,
.wrapper.style1 input[type="reset"].alt:hover,
.wrapper.style1 input[type="button"].alt:hover,
.wrapper.style1 button.alt:hover,
.wrapper.style1 .button.alt:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

.wrapper.style1 input[type="submit"].alt:active,
.wrapper.style1 input[type="reset"].alt:active,
.wrapper.style1 input[type="button"].alt:active,
.wrapper.style1 button.alt:active,
.wrapper.style1 .button.alt:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.wrapper.style1 input[type="submit"].alt.icon:before,
.wrapper.style1 input[type="reset"].alt.icon:before,
.wrapper.style1 input[type="button"].alt.icon:before,
.wrapper.style1 button.alt.icon:before,
.wrapper.style1 .button.alt.icon:before {
  color: #9ba6af;
}

.wrapper.style1 input[type="submit"].special,
.wrapper.style1 input[type="reset"].special,
.wrapper.style1 input[type="button"].special,
.wrapper.style1 button.special,
.wrapper.style1 .button.special {
  background-color: #ffffff;
  color: #062038 !important;
}

.wrapper.style1 label {
  color: #ffffff;
}

.wrapper.style1 input[type="text"],
.wrapper.style1 input[type="password"],
.wrapper.style1 input[type="email"],
.wrapper.style1 select,
.wrapper.style1 textarea {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style1 input[type="text"]:focus,
.wrapper.style1 input[type="password"]:focus,
.wrapper.style1 input[type="email"]:focus,
.wrapper.style1 select:focus,
.wrapper.style1 textarea:focus {
  border-color: #ffffff;
  box-shadow: 0 0 0 1px #ffffff;
}

.wrapper.style1 .select-wrapper:before {
  color: rgba(255, 255, 255, 0.15);
}

.wrapper.style1 input[type="checkbox"] + label,
.wrapper.style1 input[type="radio"] + label {
  color: #c1c7cd;
}

.wrapper.style1 input[type="checkbox"] + label:before,
.wrapper.style1 input[type="radio"] + label:before {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style1 input[type="checkbox"]:checked + label:before,
.wrapper.style1 input[type="radio"]:checked + label:before {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #062038;
}

.wrapper.style1 input[type="checkbox"]:focus + label:before,
.wrapper.style1 input[type="radio"]:focus + label:before {
  border-color: #ffffff;
  box-shadow: 0 0 0 1px #ffffff;
}

.wrapper.style1 ::-webkit-input-placeholder {
  color: #9ba6af !important;
}

.wrapper.style1 :-moz-placeholder {
  color: #9ba6af !important;
}

.wrapper.style1 ::-moz-placeholder {
  color: #9ba6af !important;
}

.wrapper.style1 :-ms-input-placeholder {
  color: #9ba6af !important;
}

.wrapper.style1 .formerize-placeholder {
  color: #9ba6af !important;
}

.wrapper.style1 ul.alt li {
  border-top-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style1 header p {
  color: #9ba6af;
}

.wrapper.style1 table tbody tr {
  border-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style1 table tbody tr:nth-child(2n + 1) {
  background-color: rgba(255, 255, 255, 0.075);
}

.wrapper.style1 table th {
  color: #ffffff;
}

.wrapper.style1 table thead {
  border-bottom-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style1 table tfoot {
  border-top-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style1 table.alt tbody tr td {
  border-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style2 {
  /*background-color: #041625;*/
  color: #c0c5c9;
}

.wrapper.style2 input,
.wrapper.style2 select,
.wrapper.style2 textarea {
  color: #ffffff;
}

.wrapper.style2 a {
  color: #c1c7cd;
}

.wrapper.style2 a:hover {
  color: rgba(193, 199, 205, 0.5);
}

.wrapper.style2 strong,
.wrapper.style2 b {
  color: #ffffff;
}

.wrapper.style2 h1,
.wrapper.style2 h2,
.wrapper.style2 h3,
.wrapper.style2 h4,
.wrapper.style2 h5,
.wrapper.style2 h6 {
  color: #333333;
}

.wrapper.style2 blockquote {
  border-left-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style2 code {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style2 hr {
  border-bottom-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style2 .box {
  border-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style2 input[type="submit"],
.wrapper.style2 input[type="reset"],
.wrapper.style2 input[type="button"],
.wrapper.style2 button,
.wrapper.style2 .button {
  background-color: #ffffff;
  color: #041625 !important;
}

.wrapper.style2 input[type="submit"].alt,
.wrapper.style2 input[type="reset"].alt,
.wrapper.style2 input[type="button"].alt,
.wrapper.style2 button.alt,
.wrapper.style2 .button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.15);
  color: #ffffff !important;
}

.wrapper.style2 input[type="submit"].alt:hover,
.wrapper.style2 input[type="reset"].alt:hover,
.wrapper.style2 input[type="button"].alt:hover,
.wrapper.style2 button.alt:hover,
.wrapper.style2 .button.alt:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

.wrapper.style2 input[type="submit"].alt:active,
.wrapper.style2 input[type="reset"].alt:active,
.wrapper.style2 input[type="button"].alt:active,
.wrapper.style2 button.alt:active,
.wrapper.style2 .button.alt:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.wrapper.style2 input[type="submit"].alt.icon:before,
.wrapper.style2 input[type="reset"].alt.icon:before,
.wrapper.style2 input[type="button"].alt.icon:before,
.wrapper.style2 button.alt.icon:before,
.wrapper.style2 .button.alt.icon:before {
  color: #9ba2a8;
}

.wrapper.style2 input[type="submit"].special,
.wrapper.style2 input[type="reset"].special,
.wrapper.style2 input[type="button"].special,
.wrapper.style2 button.special,
.wrapper.style2 .button.special {
  background-color: #062038;
  color: #ffffff !important;
}

.wrapper.style2 input[type="submit"].special:hover,
.wrapper.style2 input[type="reset"].special:hover,
.wrapper.style2 input[type="button"].special:hover,
.wrapper.style2 button.special:hover,
.wrapper.style2 .button.special:hover {
  background-color: #082d4f;
}

.wrapper.style2 input[type="submit"].special:active,
.wrapper.style2 input[type="reset"].special:active,
.wrapper.style2 input[type="button"].special:active,
.wrapper.style2 button.special:active,
.wrapper.style2 .button.special:active {
  background-color: #041321;
}

.wrapper.style2 label {
  color: #ffffff;
}

.wrapper.style2 input[type="text"],
.wrapper.style2 input[type="password"],
.wrapper.style2 input[type="email"],
.wrapper.style2 select,
.wrapper.style2 textarea {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style2 input[type="text"]:focus,
.wrapper.style2 input[type="password"]:focus,
.wrapper.style2 input[type="email"]:focus,
.wrapper.style2 select:focus,
.wrapper.style2 textarea:focus {
  border-color: #062038;
  box-shadow: 0 0 0 1px #062038;
}

.wrapper.style2 .select-wrapper:before {
  color: rgba(255, 255, 255, 0.15);
}

.wrapper.style2 input[type="checkbox"] + label,
.wrapper.style2 input[type="radio"] + label {
  color: #c0c5c9;
}

.wrapper.style2 input[type="checkbox"] + label:before,
.wrapper.style2 input[type="radio"] + label:before {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style2 input[type="checkbox"]:checked + label:before,
.wrapper.style2 input[type="radio"]:checked + label:before {
  background-color: #062038;
  border-color: #062038;
  color: #ffffff;
}

.wrapper.style2 input[type="checkbox"]:focus + label:before,
.wrapper.style2 input[type="radio"]:focus + label:before {
  border-color: #062038;
  box-shadow: 0 0 0 1px #062038;
}

.wrapper.style2 ::-webkit-input-placeholder {
  color: #9ba2a8 !important;
}

.wrapper.style2 :-moz-placeholder {
  color: #9ba2a8 !important;
}

.wrapper.style2 ::-moz-placeholder {
  color: #9ba2a8 !important;
}

.wrapper.style2 :-ms-input-placeholder {
  color: #9ba2a8 !important;
}

.wrapper.style2 .formerize-placeholder {
  color: #9ba2a8 !important;
}

.wrapper.style2 ul.alt li {
  border-top-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style2 header p {
  color: #9ba2a8;
}

.wrapper.style2 table tbody tr {
  border-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style2 table tbody tr:nth-child(2n + 1) {
  background-color: rgba(255, 255, 255, 0.075);
}

.wrapper.style2 table th {
  color: #ffffff;
}

.wrapper.style2 table thead {
  border-bottom-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style2 table tfoot {
  border-top-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style2 table.alt tbody tr td {
  border-color: rgba(255, 255, 255, 0.15);
}

@media screen and (max-width: 1280px) {
  .wrapper > .inner {
    /*width: 65em;*/
  }
}

@media screen and (max-width: 980px) {
  .wrapper > .inner {
    width: 90%;
  }
}

@media screen and (max-width: 736px) {
  .wrapper {
    padding: 3em 0 1em 0;
  }
}

/* Video */

.video {
  background: rgba(255, 255, 255, 0.075);
  border-radius: 4px;
  margin: 0 0 2em 0;
  overflow: hidden;
  position: relative;
}

.video img {
  -moz-transition: -moz-transform 0.2s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -ms-transition: -ms-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.video:hover img {
  -moz-transform: scale(1.075);
  -webkit-transform: scale(1.075);
  -ms-transform: scale(1.075);
  transform: scale(1.075);
}

.video:hover .image .arrow .icon {
  color: white;
}

.video .image {
  margin: 0;
  position: relative;
  overflow: hidden;
}

.video .image .arrow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.video .image .arrow:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
  /* Adjusts for spacing */
}

.video .image .arrow .icon {
  -moz-transition: color 1s ease-in-out;
  -webkit-transition: color 1s ease-in-out;
  -ms-transition: color 1s ease-in-out;
  transition: color 1s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  font-size: 3em;
  color: rgba(255, 255, 255, 0.5);
}

.video .caption {
  color: #c0c5c9;
  padding: 1.5em;
  font-size: 1.25em;
  font-weight: 300;
  margin: 0;
}

.video .link {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
}

.video .link span {
  display: none;
}

.video-16-9 {
  padding-top: 56.25%;
}

.video-16-9 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
}
